@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    font-size: 1.125rem;
  }
  * {
    font-family: inherit;
  }
}
